@font-face {
    font-family: "ios-font";
    src: url(fonts/SFPRODISPLAYMEDIUM.OTF);
}

body {
    margin: 0;
    background-color: black;
    font-family: "ios-font";
}

.container{
    display: flex;
    flex-direction: column;
    margin: 1em;
    justify-content: center;
    align-content: center;
}

button {
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    border-radius: 80px;
    background-color: rgb(58, 58, 58);
    color: white;
    border: rgb(58, 58, 58);
    font-family: "ios-font";
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 13em;
    border: 0.1em solid black;
    text-align: end;
    padding: 0.5em;
    color: white;
    margin-bottom: 1.5em;

    #display_panel {
        font-size: 4.2em;
        margin-bottom: 0;
    }

    #display_panel2 {
        font-size: 2.5em;
        margin-bottom: 0;
        margin-top: 0.4em;
        visibility: visible;
    }
}

.numbers {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(6,1fr); */
}

.small-buttons {
    width: 2.5em;
    height: 1.7em;
    /* padding: 0.5em; */
    font-size: 1.9em;
    border-radius: 80px;
    background-color: rgb(168, 168, 168);
    color: black;
}

.orange-buttons {
    background-color: rgb(253, 153, 1);
}

#delete {
    background-color: rgb(58, 58, 58);
}
